@use 'colors';
@use 'hero';
@use 'variables';
@use 'tickets';
@import 'variables';

* {
    @include resetCSS;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: colors.$textColor;
}

@font-face {
    font-family: Raleway;
    src: url(../../assets/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../../assets/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../../assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../../assets/fonts/OpenSans-Light.ttf);
}

h1, 
h2,
h3,
h4,
button,
a {
    font-family: Poppins, sans-serif;
    font-weight: 700;
}

p,
span,   
h5 {
    font-family: OpenSans;
}
